# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# IDE
.idea/
*.iml
.project
.classpath
.settings/
.vscode/
*.swp
*~

# OS
.DS_Store
Thumbs.db

# Quarkus
.quarkus/

# Generated
*.class
*.jar
*.log
hs_err_pid*
