name: Quarkiverse Release

on:
  pull_request:
    types: [closed]
    paths:
      - '.github/project.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  release:
    if: ${{ github.event.pull_request.merged == true }}
    name: Release
    uses: quarkiverse/.github/.github/workflows/quarkiverse-release.yml@main
    secrets: inherit
